@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans-1000 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.dm-sans-900 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.dm-sans-800 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.dm-sans-700 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.dm-sans-600 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dm-sans-500 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-400 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-300 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.dm-sans-200 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.dm-sans-100 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

:root {
    --main-accent-color: #13457D;
    --main-text-color: #3b3b3b;
    --contrast-text-color: #140a0a;
    --background-color: #eaeaea;
    --main-color: #CF9FFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #f2f5f7;
        --background-color: #3b3b3b;
        --main-color: #318CE7;
        --main-accent-color: #CF9FFF;
    }
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.column-30 {
    flex: 30%;
}

.column-70 {
    flex: 70%;
}

code{
    white-space: pre;
}

body {
    width: 75%;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-text-color);
    line-height: 2em;
    
    -webkit-font-feature-settings: "kern", "liga";
    -moz-font-feature-settings: "kern", "liga";
    font-feature-settings: "kern", "liga";
    background-color: var(--background-color);

    min-height: 100vh;

    justify-content: center;
    text-align: center;
}

.main {
    text-align: start;
    justify-content: unset;
}

.triple-line{
    color: var(--main-accent-color);
}

.section{
    display: inline-block;
    width: 100%;
}

.content{
    margin: auto;
}

@media (min-width: 750px) {
    .content {
        max-width: 800px;
    }
}

img.logo {
    max-width:110%;
    text-align:left;
    display: block;
    margin-left: 0px;
}

img{
    max-width:110%;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    border: 0px;
    border-radius: 10%;
    max-width: 25vh;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: sepia(100%) hue-rotate(190deg) brightness(67.5%);
    filter: sepia(100%) hue-rotate(190deg) brightness(67.5%);
}


.avatar:hover {
    -webkit-filter: none;
    filter: none;
}

a.avatarLink {
    display: inline-block;
}

.icon {
    border: 0px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 100%;
    max-width: 10vh;
}

.pix {
    float: left;
    border: 0px;
    margin-right: 8px;
}



figure {
    margin:0;
    display: block;
    text-align: center;
    box-sizing: inherit;
}

figcaption {
    text-align: left;
    margin:20px;
    border-left: 2px solid var(--main-color);
    padding-left: 5px;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em 0;
}

.info {
    font-size: 0.5rem;
}

.navigation {
    text-align: right;
    font-size:1.5rem;
}

.breadcrumb {
    font-weight: 500;
    font-size: 3rem;
    color: var(--main-accent-color);
}

a.self, a.self:hover, a.self:focus {
    border-radius:5px;
    border: 1px var(--main-color) solid;
    overflow: hidden;
    background-color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-accent-color);
    font-weight: 100;
    line-height: 1.1;
    position: relative;
    text-align: center;
}
h2:not(.goodreads h2):before, h3:before, h4:before, h5:before, h6:before,
h2:not(.goodreads h2):after, h3:after, h4:after, h5:after, h6:after {
    display: inline-block;
    content: "";
    border-top: .3rem solid var(--main-accent-color);
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.3rem);
}
h1, h2, h3 {
    margin-top: 1vh;
    margin-bottom: 0.5vh;
}

h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 10px;
}

h1 {
    font-weight: 300;
    padding: 0 0;
    font-size: 4rem;
    margin-bottom: 20px;
}

h1.title {
    font-size: 4rem;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: left;
    border-left: 6px solid var(--main-color);
    padding: .1em .1em;
}

a.top-version {
    font-size: 1rem;
    color: var(--contrast-text-color);
    border-radius:5px;
    border: 1px var(--main-color) solid;
    overflow: hidden;
    background-color: var(--main-color);
}

h1.subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 0px;
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: left;
    border-left: 6px solid var(--main-color);
    padding: .1em .3em;
}

h2.author {
    line-height: 1.8em;
    font-size: 1.8rem;
    font-weight: 100;
    margin-right: 0px;
    margin-top: -40px;
    margin-bottom: 40px;
    text-align: left;
    border-left: 6px solid var(--main-color);
    padding: .2em .5em;
}

h3.extras {
    line-height: 1.8em;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 0px;
    margin-top: -55px;
    margin-bottom: 40px;
    text-align: left;
    font-style: italic;
    border-left: 6px solid var(--main-color);
    padding: .2em .5em;
}

.abstract-h3 {
    font-weight: 100;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.6rem;
}
h5 {
    font-size: 1.4rem;
}
h6 {
    font-size: 1.2rem;
}

nav {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 1em 0;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

.footnotes {
    font-size:1rem;
}

footer {
    border-top: 1px solid #ddd;
    font-size: 1rem;
    color: #ccc;
    text-align: justify;
    padding-top: 5px;
    margin-top: 3em;
    margin-bottom: 1em;
}

footer a img {
    margin-bottom: -0.25em;
    height:18px;
    width:auto;
}

footer table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

footer table td, table th {
    vertical-align: bottom;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

pre.wip {
    background: var(--main-color);
    border-radius: 10px;
}

pre.wip code {
    font-family: "Roboto", Arial, sans-serif;
    color: white;
    background: var(--main-color);
}

blockquote {
    text-align: left;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-right: 0;
    border-left: 2px solid var(--main-color);
    quotes: "\201C""\201D""\2018""\2019";
    padding: 0;
    padding-left: 14px;
    letter-spacing: 1px;
    color: #808080;
}

blockquote blockquote {
    text-align: left;
    float: right;
    color: white;
    background: white;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 93%;
    border: 2px;
}

blockquote blockquote p {
    margin-left: 0px;
    text-align: left;
    margin: 0 0;
    padding: 0;
    line-height: 1.4;
}

blockquote blockquote li {
    color: #ccc;
    font-weight: 100;
}

blockquote blockquote p{
    color: #ccc;
    font-weight: 100;
}

blockquote blockquote strong{
    color: #ccc;
    font-weight: 900;
}

blockquote blockquote p:first-child{
    border-bottom: 1px solid #f1f1f1;
    color: white;
    font-weight: 100;
}


blockquote blockquote p:last-child{
    color: white;
    font-size: .8rem;
    font-variant: normal;
    text-align: right;
    font-weight: 100;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: .125em;
    text-underline-offset: 3px;
    color: var(--main-accent-color);
    background: transparent;
}
a:hover, a:focus {
    color: var(--main-color);
    text-decoration-color: var(--main-color);
}
a:focus {
    outline: thin dotted var(--main-color);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited, h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited {color: var(--main-color);}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,
h5 a:hover {text-decoration: none;}

pre, code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "DejaVu Sans Mono", monospace;
    font-size:85%;
}
pre {
    border-left: 2px solid #eee;
    white-space: pre-wrap;
    padding: 14px;
    padding-right: 0;
    margin: 20px 0;
    font-size: 1rem;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    padding: 0 2px;
    color: var(--main-color);
    white-space: pre-wrap;
    background-color: #f9f2f4;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: #FFF;
}

a > code {
    color: var(--main-color);
}

#versioninfo {
    text-align: center;
    margin: 0.5em;
    font-size: 1.1em;
}
@media (min-width: 992px) {
    #versioninfo {
        font-size: 0.8em;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    .white-sticker {
        background-color: #fff;
        margin: 2px;
        padding: 0 2px;
        border-radius: .2em;
    }
}
#versioninfo a.hash {
    color: gray;
    font-size: 80%;
}

ul, ol {
    padding-left: 25px;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}

dl {
    margin-bottom: 20px;
}
dd {
    margin-left: 0;
}

.dl-horizontal dt {
    float: left;
    width: 245px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 255px;
}

dt {
    font-weight: 300;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}

nav ul ul {
    display: none;
}

nav#TOC {
    margin-bottom: 25px;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

hr {
    border: 0;
    color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    size: 10rem;
    height: 0.3vh;
}

table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
}

th {
    border-bottom: 1px solid black;
}

td, th {
    padding: 5px;
    text-align: right;
}

tr {
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
}

caption {
    text-align: left;
    margin:20px;
    border-left: 2px solid var(--main-color);
    padding-left: 5px;
    caption-side: bottom;
}

table tr.even {
    background: #F5F5F5;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    p a[href]:after {
        content: " (" attr(href) ")";
    }
    footer a[href]:after {
        content: "";
    }
    a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    @page {
        margin: 2cm .5cm;
    }
    h1:not(.title), h2, h3 {
        border-bottom: 0px none;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    table {
        border-collapse: collapse !important;
    }
    table td, table th {
        background-color: #fff !important;
    }
}

#keyword-table-marker + table thead { display: none; }
#keyword-table-marker + table td { border: none; }
#keyword-table-marker + table {
    margin-left: 2em;
    margin-bottom: 1em;
}

#acknowledgements { 
    font-size: 80%;
}
