[submodule "theme/static/fonts/darwin/Darwin-Typeface"]
	path = theme/static/fonts/darwin/Darwin-Typeface
	url = git@github.com:topological-modular-forms/Darwin-Typeface.git
[submodule "content/cv"]
	path = content/cv
	url = git@github.com:ellifteria/cv
