{{template "base" .}}

{{define "header"}}
    <title>{{.SiteParams.name}}</title>
    <script src="/js/colorChanger.js"></script>
{{end}}

{{define "content"}}

    <h1>{{.PageParams.title}}</h1>

    {{if .PageParams.profilePic}}
    <img class="avatar" src="{{.PageParams.profilePic.path}}" alt="{{.PageParams.profilePic.alt}}" width="300">
    {{end}}

    <p class="subtitle">{{.PageParams.summary}}</p>
    
    {{if .PageParams.pronouns}}
        <p>Pronouns: {{.PageParams.pronouns}}</p>
    {{end}}
    <p>/
    {{range $social := .PageParams.socials}}
        <a href="{{$social.link}}" {{if eq $social.name "Mastodon"}}rel="me"{{end}}>{{$social.name}}</a> /
    {{end}}
    </p>

    {{ .Body }}

{{end}}