{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.description | $.Page.RenderString }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
      <p>Find me on
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
      {{ if eq $elem.name "email" }}
        <a class="icon" target="_blank" rel="noopener" href="mailto:{{ $elem.link }}" aria-label="Email">
          <i class="fas fa-envelope" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "mastodon" }}
        <a class="icon" target="_blank" rel="me" href="{{ $elem.link }}" aria-label="mastodon">
          <i class="fab fa-mastodon" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "rss" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="RSS">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </a>
        {{ else if eq $elem.name "scholar" }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="Google Scholar">
          <i class="fas fa-graduation-cap" aria-hidden="true"></i>
        </a>
        {{ else }}
        <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
          <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
        </a>
        {{ end }}
        {{ if (lt (add $index 2) $length) }}
          {{- print " , " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- print " and " -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  <span class="h1"><a href="{{ .Site.Params.aboutMeSection | absURL }}">{{ .Site.Params.aboutMeSectionTitle | default "About me" }}</a></span>
  {{ partial "optional-about.html" . }}
  </section>

  {{ .Site.Params.aboutMe | $.Page.RenderString }}
  
  {{ $showProjectsList := false }}
  {{ if (isset .Site.Params "showprojectslist") }}
    {{ $showProjectsList = .Site.Params.showProjectsList }}
  {{ else if .Site.Data.projects }}
    {{ $showProjectsList = true }}
  {{ end }}
  {{ if $showProjectsList }}
    {{ $projectsUrl := "none" }}
    {{ if isset .Site.Params "projectsurl" }}
      {{ $projectsUrl = .Site.Params.projectsUrl }}
    {{ end }}
  <section id="projects">
    {{ if eq $projectsUrl "none" }}
    <span class="h1"><p> {{ .Site.Params.projectsTitle }} </p></span>
    {{ else }}
    <span class="h1"><a target = "_blank" href="{{ $projectsUrl }}">{{ .Site.Params.projectsTitle }}</a></span>
    {{ end }}
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
          {{ if eq .url "none" }}
          <p><i>{{ .name }}</i></p>
          {{ else }}
          <a target = "_blank" href="{{ .url }}"><i>{{ .name }}</i></a>
          {{ end }}
          :<br/>{{ .desc | markdownify }}<br/>
        </li>
        {{ end }}
    </ul>
  </section>
  {{ end }}

  {{ $showPublicationsList := false }}
  {{ if (isset .Site.Params "showpublicationslist") }}
    {{ $showPublicationsList = .Site.Params.showPublicationsList }}
  {{ else if .Site.Data.publications }}
    {{ $showPublicationsList = true }}
  {{ end }}
  {{ if $showPublicationsList }}
    {{ $publicationsUrl := "none" }}
    {{ if isset .Site.Params "publicationsurl" }}
      {{ $publicationsUrl = .Site.Params.publicationsUrl }}
    {{ end }}
  <section id="publications">
    {{ if eq $publicationsUrl "none" }}
    <span class="h1nolink"><p> {{ .Site.Params.publicationsTitle }} </p></span>
    {{ else }}
    <span class="h1"><a target = "_blank" href="{{ $publicationsUrl }}">{{ .Site.Params.publicationsTitle }}</a></span>
    {{ end }}
    <span class="h2"> <p>{{ .Site.Params.papersSubTitle }}</p></span>
    <ul class="project-list">
        {{ range .Site.Data.publications.list }}
        <li class="project-item">
          {{ if eq .url "none" }}
          <p><i>{{ .name }}</i></p>
          {{ else }}
          <a target = "_blank" href="{{ .url }}"><i>{{ .name }}</i></a>
          {{ end }}
          :<br/>{{ .desc | markdownify }}<br/>
        </li>
        {{ end }}
    </ul>
    <span class="h2"> <p>{{ .Site.Params.postersSubTitle }}</p></span>
    <ul class="project-list">
        {{ range .Site.Data.posters.list }}
        <li class="project-item">
          {{ if eq .url "none" }}
          <p><i>{{ .name }}</i></p>
          {{ else }}
          <a target = "_blank" href="{{ .url }}"><i>{{ .name }}</i></a>
          {{ end }}
          :<br/>{{ .desc | markdownify }}<br/>
        </li>
        {{ end }}
    </ul>
  </section>

  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.writingSection | absURL }}">{{ .Site.Params.writingSectionTitle | default "Writings" }}</a></span>
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">{{ .Site.Params.writingTagsTitle | default "Topics" }}</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    {{ end }}
  </section>
  {{ end }}

{{ end }}
