{{define "base"}}
<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">

        {{template "header" .}}

        {{template "favicons" .}}

        <script>
            if (typeof main === "undefined"){
                var main = function() {};
            }
            main();
        </script>

    </head>

    <body class="lora-400">
        <div class="content">
        <header>
            {{template "navbar" .}}
        </header>

        {{template "content" .}}

        <footer>
            {{template "footer" .}}
        </footer>
        </div>
    </body>

</html>
{{end}}